pkgbase = hatchment
	pkgdesc = Procedural heraldry for the terminal: a random coat of arms as braille art for fastfetch and the Omarchy screensaver
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/cdenike/hatchment
	arch = any
	license = MIT
	depends = python
	depends = librsvg
	optdepends = gtk4: graphical interface
	optdepends = libadwaita: graphical interface
	optdepends = python-gobject: graphical interface
	source = hatchment-0.1.5.tar.gz::https://github.com/cdenike/hatchment/archive/v0.1.5.tar.gz
	sha256sums = 86013eaa5df039ccc00bc580b6e412d12be720c5a8d0c7336dc781e179ee8ccd

pkgname = hatchment
