pkgbase = hatchment
	pkgdesc = Procedural heraldry for the terminal: a random coat of arms as braille art for fastfetch and the Omarchy screensaver
	pkgver = 0.1.6
	pkgrel = 1
	url = https://github.com/cdenike/hatchment
	arch = any
	license = MIT
	depends = python
	depends = librsvg
	optdepends = gtk4: graphical interface
	optdepends = libadwaita: graphical interface
	optdepends = python-gobject: graphical interface
	source = hatchment-0.1.6.tar.gz::https://github.com/cdenike/hatchment/archive/v0.1.6.tar.gz
	sha256sums = ab4ef10ccf35afb5d3bcda5a5a9fb905e99010836d8e8e4177bf7cd193390737

pkgname = hatchment
